/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    medbioinf/pangenomesv Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in (130..145) || task.exitStatus == 104 || task.exitStatus in (175..177) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = -1

    withLabel:process_single {
        cpus   = { 1                   }
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2     * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = { 4.h   * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6     * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h   * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12    * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 16.h  * task.attempt }
    }    
    withLabel:process_long {
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 200.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }

    withName: '.*SAMTOOLS_FASTQ' {
        cpus   = { 1 * task.attempt }
        memory = { 4.GB * task.attempt }
    }

    withName: '.*HIFIASM' {
        cpus   = 24
        memory = { task.attempt == 1 ? 144.GB : 192.GB }
    }

    withName: '.*MINIGRAPH_PANGENOME' {
        cpus   = 24
        memory = { task.attempt == 1 ? 144.GB : 196.GB }
    }

    withName: '.*PGGB' {
        cpus   = 24
        memory = { task.attempt == 1 ? 144.GB : 196.GB }
    }

    withName: '.*CACTUS_PANGENOME' {
        cpus   = 24
        memory = { task.attempt == 1 ? 144.GB : 196.GB }
    }

    withName: '.*MINIGRAPH_CALL' {
        cpus   = { task.attempt == 1 ? 10 : 16 }
        memory = { 
            def is_reference = (meta?.id == 'reference' || meta?.is_ref == true || task.ext.prefix?.contains('reference'))
            if (is_reference) {
                return task.attempt == 1 ? 128.GB : 192.GB
            } else {
                return task.attempt == 1 ? 64.GB : 128.GB
            }
        }
    }

    withName: '.*SWAVE_EXTRACT_ALLELES' {
        cpus = { 1 * task.attempt }
        memory = { 6.GB * task.attempt }
        maxRetries = 2
    }

    withName: '.*SWAVE_GENERATE_DOTPLOTS' {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        maxRetries = 3
    }

    withName: '.*SWAVE_GENERATE_PROJECTIONS' {
        cpus = { 1 * task.attempt }
        memory = { 8.GB * task.attempt }
        maxRetries = 3
    }

    withName: '.*SWAVE_PREDICT' {
        cpus = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        accelerator = { params.use_gpu ? 1 : null }
        maxRetries = 3
    }

    withName: '.*SWAVE_CALL_VARIANTS' {
        cpus = { 2 * task.attempt }
        memory = { 16.GB * task.attempt }
        errorStrategy = 'retry'
        maxRetries = 3
    }

}
