/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: '.*CAT_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/cat/fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SAMTOOLS_FASTQ' {
        publishDir = [
            path: { "${params.outdir}/samtools/fastq" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*HIFIASM' {
        publishDir = [
            path: { "${params.outdir}/hifiasm" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*LONGREAD_ASSEMBLY:GFATOOLS_GFA2FA' {
    publishDir = [
            path: { "data/assemblies" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

        withName: '.*MINIGRAPH_CONSTRUCT' {
        publishDir = [
            path: { "${params.outdir}/minigraph/construct" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PGGB' {
        ext.args = { [
            "-s ${params.pggb_segment_length ?: '10k'}",
            "-p ${params.pggb_identity ?: '98'}",
            "-k ${params.pggb_kmer_length ?: '47'}",
            "-n ${params.pggb_n_haplotypes ?: meta.num_haplotypes}",
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/pggb" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PANGENOME_GRAPH:GFA_SET_REFERENCE' {
        publishDir = [
            path: { "${params.outdir}/gfa_set_reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*VG_DECONSTRUCT' {
        ext.args = { "-a -P ${meta.sample}" }    // flags used for swave
        ext.prefix = { "${meta.id}.deconstructed" }
        publishDir = [
            path: { "${params.outdir}/vg/deconstruct" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*MINIGRAPH_CALL' {
        publishDir = [
            path: { "${params.outdir}/minigraph/call" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PANGENOME_GRAPH:GUNZIP_FA' {
        publishDir = [
            path: { "${params.outdir}/gunzip/fa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PANGENOME_GRAPH:GUNZIP_GFA' {
        publishDir = [
            path: { "${params.outdir}/gunzip/gfa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*PANGENOME_GRAPH:GFATOOLS_GFA2FA' {
        publishDir = [
            path: { "${params.outdir}/gfatools/gfa2fa/pangenome_graph" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*BCFTOOLS_QUERY_LIST_SAMPLES' {
        ext.args = '-l'
        ext.suffix = 'samples.txt'
        publishDir = [ enabled: false ]
    }

    withName: '.*BCFTOOLS_VIEW_REF' {
        ext.args = '-G -Oz'
        ext.prefix = { "${meta.sample}" }
        publishDir = [
            path: { "${params.outdir}/bcftools/view" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*BCFTOOLS_VIEW_SAMPLES' {
        ext.args = { "-s ${meta.sample} -Oz" }
        ext.prefix = { "${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/bcftools/view" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SWAVE_EXTRACT_ALLELES' {
        ext.args = {
            [
                "--graph_construction_tool ${params.graph_construction_tool}",
                params.force_reverse ? "--force_reverse" : "",
                params.remove_small ? "--remove_small" : "",
                params.min_sv_size ? "--min_sv_size ${params.min_sv_size}" : "",
                params.spec_snarl ? "--spec_snarl ${params.spec_snarl}" : ""
            ].join(' ')
        }
        publishDir = [
            path: { "${params.outdir}/swave/extract_alleles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SWAVE_SPLIT_ALLELES' {
        ext.seq_per_split = params.seq_per_split
        publishDir = [
            path: { "${params.outdir}/swave/split_alleles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SWAVE_GENERATE_DOTPLOTS' {
        ext.args = {
            [
                params.max_sv_size ? "--max_sv_size ${params.max_sv_size}" : "",
                params.kmer_size ? "--kmer_size ${params.kmer_size}" : "",
                params.spec_path ? "--spec_path ${params.spec_path}" : "",
                params.save_dotplot_images ? "--save_dotplot_images" : ""
            ].join(' ')
        }
        publishDir = [
            [
                path: { "${params.outdir}/swave/generate_dotplots/pkl/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*.pkl.gz"
            ],
            [
                path: { "${params.outdir}/swave/generate_dotplots/pngs/" },
                mode: params.publish_dir_mode,
                pattern: "**.png"
            ]
        ]
    }

    withName: '.*SWAVE_GENERATE_PROJECTIONS' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/generate_projections/pkl/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*_projections.pkl.gz"
            ],
            [
                path: { "${params.outdir}/swave/generate_projections/pngs/" },
                mode: params.publish_dir_mode,
                pattern: "**.png"
            ]
        ]
    }

    withName: '.*SWAVE_PREDICT' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/predict/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*_predictions.pkl.gz"
            ]
        ]
    }

    withName: '.*SWAVE_CALL_VARIANTS' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/call_variants/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*_variants.tsv"
            ]
        ]
    }

    withName: '.*SWAVE_WRITE_VCF' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/write_vcf/" },
                mode: params.publish_dir_mode,
                pattern: "*.vcf"
            ]
        ]
    }

    withName: 'BCFTOOLS_FILTER_RARE' {
        ext.args   = { "-i 'INFO/AF < ${params.af_rare}'" }
        ext.prefix = { "${meta.id}.rare" }
        publishDir = [
            path: { "${params.outdir}/swave/annotation/" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf",
        ]
    }

    withName: 'BCFTOOLS_FILTER_INFREQUENT' {
        ext.args   = { "-i 'INFO/AF >= ${params.af_rare} && INFO/AF < ${params.af_frequent}'" }
        ext.prefix = { "${meta.id}.infrequent" }
        publishDir = [
            path: { "${params.outdir}/swave/annotation/" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf",
        ]
    }

    withName: 'BCFTOOLS_FILTER_FREQUENT' {
        ext.args   = { "-i 'INFO/AF >= ${params.af_frequent}'" }
        ext.prefix = { "${meta.id}.frequent" }
        publishDir = [
            path: { "${params.outdir}/swave/annotation/" },
            mode: params.publish_dir_mode,
            pattern: "*.vcf",
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
