/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: '.*MINIGRAPH_CONSTRUCT' {
        publishDir = [
            path: { "${params.outdir}/minigraph/construct" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*MINIGRAPH_CALL' {
        publishDir = [
            path: { "${params.outdir}/minigraph/call" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*GFATOOLS_GFA2FA' {
        publishDir = [
            path: { "${params.outdir}/gfatools/gfa2fa" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SWAVE_EXTRACT_ALLELES' {
        publishDir = [
            path: { "${params.outdir}/swave/extract_alleles" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*SWAVE_GENERATE_DOTPLOTS' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/generate_dotplots/pkl/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*.pkl.gz"
            ],
            [
                path: { "${params.outdir}/swave/generate_dotplots/pngs/" },
                mode: params.publish_dir_mode,
                pattern: "**.png"
            ]
        ]
    }

    withName: '.*SWAVE_GENERATE_PROJECTIONS' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/generate_projections/pkl/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*_projections.pkl.gz"
            ],
            [
                path: { "${params.outdir}/swave/generate_projections/pngs/" },
                mode: params.publish_dir_mode,
                pattern: "**.png"
            ]
        ]
    }

    withName: '.*SWAVE_PREDICT' {
        publishDir = [
            [
                path: { "${params.outdir}/swave/predict/${meta.sample}" },
                mode: params.publish_dir_mode,
                pattern: "*_predictions.pkl.gz"
            ]
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SEQKIT_SORT' {
        ext.args = '-l -r'  // sort by sequence length in descending order
        publishDir = [ enabled: false ]
    }

    withName: 'SEQKIT_SPLIT2' {
        ext.args   = '-s 5000 -w 0 '  // split into 5000 sequences per file, no line breaks
        publishDir = [ enabled: false ]
    }

}
